@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); /*font-family: ''Maven Pro'', 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,600,700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../vendors/bootstrap-3.3.7/dist/css/bootstrap.min.css";
@import "../vendors/swiper-4.5.0/swiper.min.css";
@import "../vendors/font-awesome-4.7.0/font-awesome.min.css";
@import "../vendors/rd-navbar-2.1.8/dist/css/rd-navbar.css";
@import "../vendors/aos/aos.css";
@import "layout.css"; /* Header, Footer*/
@import "nav.css"; /* Nav */


@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@-ms-viewport{width:auto; }

body {
	overflow-x: hidden;
	/* font-family:'Maven Pro', 'Noto Sans KR', Helvetica, Arial, sans-serif; */
	font-weight:400;
	letter-spacing:-0.05em;
    line-height: normal;
	word-break:normal;
	color:rgba(0, 0, 0, .75);
}

div, p, ul, dl, h4, h5 {transition:margin 0.5s ease-in-out 0; }
ul{list-style:none;}
p {
	
	color:inherit;
}
a {
	color:inherit;
	-moz-transition:0.3s; -o-transition:0.3s; -webkit-transition:0.3s; transition:0.3s;
}
a:hover,
a:focus,
a:active,
a.active {
	color:inherit;
	text-decoration:none;
}
p::-moz-selection {
   background: #2a8890;
   color: #fff;
}
a::selection, strong::selection, small::selection, span::selection,p::selection,h1::selection, div::selection,
h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, h7::selection, table th::selection,table td::selection, ul li::selection {
   background: #f1f1f1;
   color: #2a8890;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	/* font-family: 'Montserrat','Maven Pro', 'Noto Sans KR', Helvetica, Arial, sans-serif; */
	font-weight: 500;
	letter-spacing:-0.025em;
	margin: 0;
}

::-moz-selection {
	text-shadow: none;
	color:#fff;
	background: #498cdf;
}
::selection {
	text-shadow: none;
	color:#fff;
	background: #498cdf;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}
body {
	webkit-tap-highlight-color: #498cdf;
}
@media (max-width: 320px) {
	body {min-width:320px; }
}



.responsive_img {
    max-width: 100%;
    height: auto;
}




/*
* @subsection   ToTop
* @license      MIT license - http://opensource.org/licenses/MIT
* @version      1.0.0
*/
/* .ui-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	-webkit-transform: translateY(180px);
	  -ms-transform: translateY(180px);
	      transform: translateY(180px);
	z-index: 999;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 28px;
	text-decoration: none !important;
	text-align: center;
	overflow: hidden;
	transition: .3s all ease;
	background:rgba(255, 255, 255, .7);
	color: #999 !important;
	border:1px solid #d9d9d9;
}
@media (min-width: 992px) {
	.ui-to-top {
		right: 30px;
		bottom: 110px;
		width: 50px;
		height: 50px;
		font-size: 30px;
		line-height: 46px;
		background:#2a8890;
		color: #ffffff !important;
		border:0;
		box-shadow:0 3px 3px rgba(0, 0, 0, .12);
	}

	.ui-to-top:hover {
		text-decoration: none;
		background:#2a8890;
		color: #ffffff;
	}

	.ui-to-top:focus {
		color: #ffffff;
	}

	.ui-to-top.active {
		-webkit-transform: translateY(0);
		  -ms-transform: translateY(0);
		      transform: translateY(0);
	}
}

html.lt-ie9 .ui-to-top {
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 46px;
	background:rgba(101, 3, 45, 1);
	color: #ffffff !important;
	border:0;
}
.ui-to-top:hover {
	text-decoration: none;
	background:rgba(255, 255, 255, .7);
	color: #999 !important;
}
.ui-to-top:focus {
	color: #ffffff;
}
.ui-to-top.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	padding-top: 0.7%;
} */


	.mo_only {
		display:none;
	}
	.pc_only {
		display:inline;
	}


/* 마진 & 패딩 */
.mg_0 {
	margin:0 !important;
}
.pd_0 {
	padding:0 !important;
}


.pt_0_pc	{padding-top:0 !important;}
.pt_5_pc	{padding-top:5px !important;}
.pt_10_pc	{padding-top:10px !important;}
.pt_15_pc	{padding-top:15px !important;}
.pt_20_pc	{padding-top:20px !important;}
.pt_25_pc	{padding-top:25px !important;}
.pt_30_pc	{padding-top:30px !important;}
.pt_35_pc	{padding-top:35px !important;}
.pt_40_pc	{padding-top:40px !important;}
.pt_45_pc	{padding-top:45px !important;}
.pt_50_pc	{padding-top:50px !important;}
.pt_55_pc	{padding-top:55px !important;}
.pt_60_pc	{padding-top:60px !important;}
.pt_65_pc	{padding-top:65px !important;}
.pt_70_pc	{padding-top:70px !important;}
.pt_75_pc	{padding-top:75px !important;}
.pt_80_pc	{padding-top:80px !important;}
.pt_85_pc	{padding-top:85px !important;}
.pt_90_pc	{padding-top:90px !important;}
.pt_95_pc	{padding-top:95px !important;}
.pt_100_pc	{padding-top:100px !important;}
.pt_110_pc	{padding-top:110px !important;}
.pt_120_pc	{padding-top:120px !important;}
.pt_130_pc	{padding-top:130px !important;}
.pt_140_pc	{padding-top:140px !important;}
.pt_150_pc	{padding-top:150px !important;}

.pb_0_pc	{padding-bottom:0 !important;}
.pb_5_pc	{padding-bottom:5px !important;}
.pb_10_pc	{padding-bottom:10px !important;}
.pb_15_pc	{padding-bottom:15px !important;}
.pb_20_pc	{padding-bottom:20px !important;}
.pb_25_pc	{padding-bottom:25px !important;}
.pb_30_pc	{padding-bottom:30px !important;}
.pb_35_pc	{padding-bottom:35px !important;}
.pb_40_pc	{padding-bottom:40px !important;}
.pb_45_pc	{padding-bottom:45px !important;}
.pb_50_pc	{padding-bottom:50px !important;}
.pb_55_pc	{padding-bottom:55px !important;}
.pb_60_pc	{padding-bottom:60px !important;}
.pb_65_pc	{padding-bottom:65px !important;}
.pb_70_pc	{padding-bottom:70px !important;}
.pb_75_pc	{padding-bottom:75px !important;}
.pb_80_pc	{padding-bottom:80px !important;}
.pb_85_pc	{padding-bottom:85px !important;}
.pb_90_pc	{padding-bottom:90px !important;}
.pb_95_pc	{padding-bottom:95px !important;}
.pb_100_pc	{padding-bottom:100px !important;}
.pb_110_pc	{padding-bottom:110px !important;}
.pb_120_pc	{padding-bottom:120px !important;}
.pb_130_pc	{padding-bottom:130px !important;}
.pb_140_pc	{padding-bottom:140px !important;}
.pb_150_pc	{padding-bottom:150px !important;}

.pl_0_pc	{padding-left:0 !important;}
.pl_5_pc	{padding-left:5px !important;}
.pl_10_pc	{padding-left:10px !important;}
.pl_15_pc	{padding-left:15px !important;}
.pl_20_pc	{padding-left:20px !important;}
.pl_25_pc	{padding-left:25px !important;}
.pl_30_pc	{padding-left:30px !important;}
.pl_35_pc	{padding-left:35px !important;}
.pl_40_pc	{padding-left:40px !important;}
.pl_45_pc	{padding-left:45px !important;}
.pl_50_pc	{padding-left:50px !important;}
.pl_55_pc	{padding-left:55px !important;}
.pl_60_pc	{padding-left:60px !important;}
.pl_65_pc	{padding-left:65px !important;}
.pl_70_pc	{padding-left:70px !important;}
.pl_75_pc	{padding-left:75px !important;}
.pl_80_pc	{padding-left:80px !important;}
.pl_85_pc	{padding-left:85px !important;}
.pl_90_pc	{padding-left:90px !important;}
.pl_95_pc	{padding-left:95px !important;}
.pl_100_pc	{padding-left:100px !important;}
.pl_110_pc	{padding-left:110px !important;}
.pl_120_pc	{padding-left:120px !important;}
.pl_130_pc	{padding-left:130px !important;}
.pl_140_pc	{padding-left:140px !important;}
.pl_150_pc	{padding-left:150px !important;}

.pr_0_pc	{padding-right:0 !important;}
.pr_5_pc	{padding-right:5px !important;}
.pr_10_pc	{padding-right:10px !important;}
.pr_15_pc	{padding-right:15px !important;}
.pr_20_pc	{padding-right:20px !important;}
.pr_25_pc	{padding-right:25px !important;}
.pr_30_pc	{padding-right:30px !important;}
.pr_35_pc	{padding-right:35px !important;}
.pr_40_pc	{padding-right:40px !important;}
.pr_45_pc	{padding-right:45px !important;}
.pr_50_pc	{padding-right:50px !important;}
.pr_55_pc	{padding-right:55px !important;}
.pr_60_pc	{padding-right:60px !important;}
.pr_65_pc	{padding-right:65px !important;}
.pr_70_pc	{padding-right:70px !important;}
.pr_75_pc	{padding-right:75px !important;}
.pr_80_pc	{padding-right:80px !important;}
.pr_85_pc	{padding-right:85px !important;}
.pr_90_pc	{padding-right:90px !important;}
.pr_95_pc	{padding-right:95px !important;}
.pr_100_pc	{padding-right:100px !important;}
.pr_110_pc	{padding-right:110px !important;}
.pr_120_pc	{padding-right:120px !important;}
.pr_130_pc	{padding-right:130px !important;}
.pr_140_pc	{padding-right:140px !important;}
.pr_150_pc	{padding-right:150px !important;}



@media screen and (max-width:767px) {

	.mo_only {
		display:inline;
	}
	.pc_only {
		display:none;
	}


	.pt_0_mo	{padding-top:0 !important;}
	.pt_5_mo	{padding-top:5px !important;}
	.pt_10_mo	{padding-top:10px !important;}
	.pt_15_mo	{padding-top:15px !important;}
	.pt_20_mo	{padding-top:20px !important;}
	.pt_25_mo	{padding-top:25px !important;}
	.pt_30_mo	{padding-top:30px !important;}
	.pt_35_mo	{padding-top:35px !important;}
	.pt_40_mo	{padding-top:40px !important;}
	.pt_45_mo	{padding-top:45px !important;}
	.pt_50_mo	{padding-top:50px !important;}
	.pt_55_mo	{padding-top:55px !important;}
	.pt_60_mo	{padding-top:60px !important;}
	.pt_65_mo	{padding-top:65px !important;}
	.pt_70_mo	{padding-top:70px !important;}
	.pt_75_mo	{padding-top:75px !important;}
	.pt_80_mo	{padding-top:80px !important;}
	.pt_85_mo	{padding-top:85px !important;}
	.pt_90_mo	{padding-top:90px !important;}
	.pt_95_mo	{padding-top:95px !important;}
	.pt_100_mo	{padding-top:100px !important;}
	.pt_110_mo	{padding-top:110px !important;}
	.pt_120_mo	{padding-top:120px !important;}
	.pt_130_mo	{padding-top:130px !important;}
	.pt_140_mo	{padding-top:140px !important;}
	.pt_150_mo	{padding-top:150px !important;}

	.pb_0_mo	{padding-bottom:0 !important;}
	.pb_5_mo	{padding-bottom:5px !important;}
	.pb_10_mo	{padding-bottom:10px !important;}
	.pb_15_mo	{padding-bottom:15px !important;}
	.pb_20_mo	{padding-bottom:20px !important;}
	.pb_25_mo	{padding-bottom:25px !important;}
	.pb_30_mo	{padding-bottom:30px !important;}
	.pb_35_mo	{padding-bottom:35px !important;}
	.pb_40_mo	{padding-bottom:40px !important;}
	.pb_45_mo	{padding-bottom:45px !important;}
	.pb_50_mo	{padding-bottom:50px !important;}
	.pb_55_mo	{padding-bottom:55px !important;}
	.pb_60_mo	{padding-bottom:60px !important;}
	.pb_65_mo	{padding-bottom:65px !important;}
	.pb_70_mo	{padding-bottom:70px !important;}
	.pb_75_mo	{padding-bottom:75px !important;}
	.pb_80_mo	{padding-bottom:80px !important;}
	.pb_85_mo	{padding-bottom:85px !important;}
	.pb_90_mo	{padding-bottom:90px !important;}
	.pb_95_mo	{padding-bottom:95px !important;}
	.pb_100_mo	{padding-bottom:100px !important;}
	.pb_110_mo	{padding-bottom:110px !important;}
	.pb_120_mo	{padding-bottom:120px !important;}
	.pb_130_mo	{padding-bottom:130px !important;}
	.pb_140_mo	{padding-bottom:140px !important;}
	.pb_150_mo	{padding-bottom:150px !important;}

	.pl_0_mo	{padding-left:0 !important;}
	.pl_5_mo	{padding-left:5px !important;}
	.pl_10_mo	{padding-left:10px !important;}
	.pl_15_mo	{padding-left:15px !important;}
	.pl_20_mo	{padding-left:20px !important;}
	.pl_25_mo	{padding-left:25px !important;}
	.pl_30_mo	{padding-left:30px !important;}
	.pl_35_mo	{padding-left:35px !important;}
	.pl_40_mo	{padding-left:40px !important;}
	.pl_45_mo	{padding-left:45px !important;}
	.pl_50_mo	{padding-left:50px !important;}
	.pl_55_mo	{padding-left:55px !important;}
	.pl_60_mo	{padding-left:60px !important;}
	.pl_65_mo	{padding-left:65px !important;}
	.pl_70_mo	{padding-left:70px !important;}
	.pl_75_mo	{padding-left:75px !important;}
	.pl_80_mo	{padding-left:80px !important;}
	.pl_85_mo	{padding-left:85px !important;}
	.pl_90_mo	{padding-left:90px !important;}
	.pl_95_mo	{padding-left:95px !important;}
	.pl_100_mo	{padding-left:100px !important;}
	.pl_110_mo	{padding-left:110px !important;}
	.pl_120_mo	{padding-left:120px !important;}
	.pl_130_mo	{padding-left:130px !important;}
	.pl_140_mo	{padding-left:140px !important;}
	.pl_150_mo	{padding-left:150px !important;}

	.pr_0_mo	{padding-right:0 !important;}
	.pr_5_mo	{padding-right:5px !important;}
	.pr_10_mo	{padding-right:10px !important;}
	.pr_15_mo	{padding-right:15px !important;}
	.pr_20_mo	{padding-right:20px !important;}
	.pr_25_mo	{padding-right:25px !important;}
	.pr_30_mo	{padding-right:30px !important;}
	.pr_35_mo	{padding-right:35px !important;}
	.pr_40_mo	{padding-right:40px !important;}
	.pr_45_mo	{padding-right:45px !important;}
	.pr_50_mo	{padding-right:50px !important;}
	.pr_55_mo	{padding-right:55px !important;}
	.pr_60_mo	{padding-right:60px !important;}
	.pr_65_mo	{padding-right:65px !important;}
	.pr_70_mo	{padding-right:70px !important;}
	.pr_75_mo	{padding-right:75px !important;}
	.pr_80_mo	{padding-right:80px !important;}
	.pr_85_mo	{padding-right:85px !important;}
	.pr_90_mo	{padding-right:90px !important;}
	.pr_95_mo	{padding-right:95px !important;}
	.pr_100_mo	{padding-right:100px !important;}
	.pr_110_mo	{padding-right:110px !important;}
	.pr_120_mo	{padding-right:120px !important;}
	.pr_130_mo	{padding-right:130px !important;}
	.pr_140_mo	{padding-right:140px !important;}
	.pr_150_mo	{padding-right:150px !important;}


}
