@charset "UTF-8";

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding: 0px 0 30px;
}

@media (min-width: 768px) {
  .container {
      width: 100%;
      padding: 0 0 50px 0;
  }
}

@media (min-width: 908px) {
  .container {
      width: 100%;
      padding: 0 0 50px 0;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1200px;
      padding: 30px 0 30px;
  }
}

.full_container {
  width: 100%;
}

.txt-hidden {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}


/* frid order */
.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-6 {
  order: 6 !important;
}

.order-7 {
  order: 7 !important;
}

.order-8 {
  order: 8 !important;
}

.order-9 {
  order: 9 !important;
}

.order-10 {
  order: 10 !important;
}

.order-11 {
  order: 11 !important;
}

.order-12 {
  order: 12 !important;
}

@media (max-width: 992px) {
  .order-sm-1 {
      order: 1 !important;
  }

  .order-sm-2 {
      order: 2 !important;
  }

  .order-sm-3 {
      order: 3 !important;
  }

  .order-sm-4 {
      order: 4 !important;
  }

  .order-sm-5 {
      order: 5 !important;
  }

  .order-sm-6 {
      order: 6 !important;
  }

  .order-sm-7 {
      order: 7 !important;
  }

  .order-sm-8 {
      order: 8 !important;
  }

  .order-sm-9 {
      order: 9 !important;
  }

  .order-sm-10 {
      order: 10 !important;
  }

  .order-sm-11 {
      order: 11 !important;
  }

  .order-sm-12 {
      order: 12 !important;
  }
}



/* footer */
body {
  min-width: 320px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

footer li {
  list-style: none;
}

footer {
  background: #45382b;
  text-align: center;
  font-size: 15px !important;
}

@media (max-width:960px) {
  footer {
      font-size: 14px !important;
  }
}

footer .container {
  padding: 10px 10px 20px;
  position: relative;
}

footer .foot-menu {
  position: relative;
}

footer .foot-menu .container {
  height: 35px;
  overflow: hidden;
  padding: 0 0;
}


footer .company-info-box {
  color: rgba(255, 255, 255, .8);
  font-weight: 300;
}

footer .company-info-box .copyinfo-item {
  line-height: 1em;
}

footer .company-info-box .copyinfo-item>span {
  color: rgba(255, 255, 255, .8);
  padding-right: 5px;
}

.sub-visual-box {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 400px;
}

.sub-visual-box.bgImage01 {
  background-image: url('../image/sub_2.png');
}

.sub-visual-box.bgImage02 {
  background-image: url('../image/sub_3.png');
}

.sub-visual-box.bgImage03 {
  background-image: url('../image/lost.png');
}

.sub-visual-box.bgImage04 {
  background-image: url('../image/sub_1.png');
}

.sub-visual-box.bgImage05 {
  background-image: url('../image_main/sub_5.png');
}

.sub-visual-box.bgImage06 {
  background-image: url('../image_main/sub_6.png');
}

.sub-visual-box.bgImage07 {
  background-image: url('../image_main/login.png');
}

@media (max-width: 768px) {
  .sub-visual-box.bgImage01 {
      background-image: url('../image/sub_2.png');
  }

  .sub-visual-box.bgImage02 {
      background-image: url('../image/sub_3.png');
  }

  .sub-visual-box.bgImage03 {
      background-image: url('../image/lost.png');
  }

  .sub-visual-box.bgImage04 {
      background-image: url('../image/sub_1.png');
  }

  .sub-visual-box.bgImage05 {
      background-image: url('../image_main/sub_5.png');
  }

  .sub-visual-box.bgImage06 {
      background-image: url('../image_main/sub_6.png');
  }

  .sub-visual-box.bgImage07 {
      background-image: url('../image_main/login.png');
  }
}

.sub-visual-box .container {
  position: relative;
}

.sub-visual-box .page-head-title {
  /*padding:80px 0 20px;*/
  color: #fff;
  /*text-align:center;*/
}

.sub-visual-box .page-head-title h2 {
  color: #fff !important;
}

/*.sub-visual-box .page-head-title .page-explain {display:none; }*/

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Montserrat', 'Arita-dotum-Medium', 'Noto Sans KR'; */
  font-weight: 600;
}

a {
  /* font-family: 'Montserrat', 'Arita-dotum-Medium', 'Noto Sans KR', sans-serif; */
}

.submenu-box {
  font-size: 12px;
  height: 50px;
  overflow-y: hidden;
}

.submenu-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

.submenu-box .submenu-list {
  display: block;
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  /*border:1px solid #e5e5e5;*/
  box-sizing: border-box;
}

.submenu-box .inline-list-item {
  position: relative;
  display: inline-block;
  list-style: none;
  margin-right: -4px;
  padding: 0 5px;
}

.submenu-box .inline-list-item>a {
  line-height: 50px;
  display: block;
  letter-spacing: -0.05em;
  padding: 0 5px;
  color: #151515;
}

.submenu-box .inline-list-item.active>a {
  font-weight: 500;
  color: #2a8890;
}

.submenu-box .inline-list-item>a:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  height: 3px;
  width: 1;
  opacity: 0;
  visibility: hidden;
  background: #2a8890;
  transition: .3s all ease;
}

.submenu-box .inline-list-item.active>a:after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.sub-content-box {
  position: relative;
}


@media (min-width:320px) {
  .submenu-box .submenu-list {
      width: 100%;
  }

  .sub-visual-box .page-head-title h2 {
      font-size: 20px;
      /*margin:0;*/
  }
}

@media (min-width: 533px) {
  .txt-hidden {
      visibility: visible;
      position: static;
  }
}

@media (min-width: 768px) {
  .submenu-box {
      font-size: 15px;
      height: auto;
  }

  .submenu-box .inline-list-item {
      padding: 0 20px;
  }

  .submenu-box .inline-list-item>a {
      line-height: 60px;
  }

  .sub-visual-box .page-head-title h2 {
      font-size: 26px;
      margin: 20px 0;
  }
}

@media (min-width: 992px) {
  body {
      font-size: 18px;
  }

  footer {
      text-align: left;
  }

  footer .container {
      padding: 30px 0 40px;
  }

  footer .company-info-box .copyinfo-item {
      display: inline-block;
      padding: 0 12px;
      border-left: 1px solid rgba(255, 255, 255, .1);
      line-height: 1em;
  }

  footer .company-info-box .copyinfo-item:first-child {
      padding-left: 0;
      border: 0;
  }
}

@media (min-width: 1200px) {

  /*.container {padding:0 10px;}*/
  .sub-visual-box {
      background-size: cover;
  }

  .sub-visual-box .container {
      height: auto;
      max-height: 420px;
      /*padding:200px 0 120px;*/
  }

  .sub-visual-box .page-head-title {
      padding: 0;
      font-weight: 100;
      position: relative;
  }

  /* 115px 0 110px */
  .sub-visual-box .page-head-title h2 {
  
      font-size: 32px;

      padding: 10px 0;
      margin: 0;
  }

  .sub-visual-box .page-head-title .page-explain {
      display: block;
      padding: 10px 0;
      margin: 0;
      font-size: 18px;
      letter-spacing: 0;
  }

  .submenu-box {
      display: block;
  }

}

.txt_l,
.txt-l {
  text-align: left;
}

.txt_r,
.txt-r {
  text-align: right;
}

.txt_c,
.txt-c {
  text-align: center;
}

.fwB {
  font-weight: 700 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw100 {
  font-weight: 100 !important;
}

.fs11 {
  font-size: 0.7em !important;
  line-height: 1.45em;
}

.fs12 {
  font-size: 0.75em !important;
  line-height: 1.45em;
}

.fs13 {
  font-size: 0.825em !important;
  line-height: 1.45em;
}

.fs14 {
  font-size: 0.9em !important;
  line-height: 1.45em;
}

.fs15 {
  font-size: 0.975em !important;
  line-height: 1.45em;
}

.fs16 {
  font-size: 1.025em !important;
  line-height: 1.45em;
}

.fs18 {
  font-size: 1.185em !important;
  line-height: 1.45em;
}

.fs20 {
  font-size: 1.285em !important;
  line-height: 1.45em;
}

.fs22 {
  font-size: 1.4em !important;
  line-height: 1.45em;
}

.fs24 {
  font-size: 1.500em !important;
  line-height: 1.45em;
}

.fs25 {
  font-size: 1.500em !important;
  line-height: 1.25em;
}

.fs26 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs28 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs30 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs32 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs35 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs36 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs38 {
  font-size: 1.733em !important;
  line-height: 1.25em;
}

.fs40 {
  font-size: 1.833em !important;
  line-height: 1.25em !important;
}

.fs42 {
  font-size: 1.833em !important;
  line-height: 1.25em !important;
}

.fs48 {
  font-size: 1.833em !important;
  line-height: 1.25em !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 7px !important;
}

.mt20 {
  margin-top: 10px !important;
}

.mt30 {
  margin-top: 15px !important;
}

.mt40 {
  margin-top: 20px !important;
}

.mt50 {
  margin-top: 25px !important;
}

.mt60 {
  margin-top: 30px !important;
}

.mt70 {
  margin-top: 40px !important;
}

.mt80 {
  margin-top: 50px !important;
}

.mt100 {
  margin-top: 50px !important;
}

.pbt0 {
  padding-bottom: 0 !important;
}

.pc-1 {
  color: #33b00c !important;
}

.pc-2 {
  color: #00937f !important;
}

.pc-3 {
  color: #0064c2 !important;
}

.pc-4 {
  color: #ee5400 !important;
}

.pc-5 {
  color: #df1921 !important;
}

.pc-6 {
  color: #9f6b4e !important;
}

.pc-7 {
  color: #797979 !important;
}

.pc-8 {
  color: #0f0f0f !important;
}

.pc-r1 {
  color: #65032d !important;
}

.pc-r2 {
  color: #6ab929 !important;
}

@media (min-width: 992px) {
  .mt5 {
      margin-top: 5px !important;
  }

  .mt10 {
      margin-top: 10px !important;
  }

  .mt20 {
      margin-top: 20px !important;
  }

  .mt30 {
      margin-top: 30px !important;
  }

  .mt40 {
      margin-top: 40px !important;
  }

  .mt50 {
      margin-top: 50px !important;
  }

  .mt60 {
      margin-top: 60px !important;
  }

  .mt70 {
      margin-top: 70px !important;
  }

  .mt80 {
      margin-top: 80px !important;
  }

  .mt100 {
      margin-top: 100px !important;
  }

  .fs11 {
      font-size: 0.733em !important;
      line-height: 1.45em;
  }

  .fs12 {
      font-size: 0.800em !important;
      line-height: 1.45em;
  }

  .fs13 {
      font-size: 0.867em !important;
      line-height: 1.45em;
  }

  .fs14 {
      font-size: 0.933em !important;
      line-height: 1.45em;
  }

  .fs15 {
      font-size: 1em !important;
      line-height: 1.45em;
  }

  .fs16 {
      font-size: 1.067em !important;
      line-height: 1.45em;
  }

  .fs18 {
      font-size: 1.200em !important;
      line-height: 1.45em;
  }

  .fs20 {
      font-size: 1.333em !important;
      line-height: 1.45em;
  }

  .fs22 {
      font-size: 1.467em !important;
      line-height: 1.45em;
  }

  .fs25 {
      font-size: 1.667em !important;
      line-height: 1.25em;
  }

  .fs28 {
      font-size: 1.867em !important;
      line-height: 1.35em;
  }

  .fs30 {
      font-size: 2.000em !important;
      line-height: 1.35em;
  }

  .fs32 {
      font-size: 2.133em !important;
      line-height: 1.35em;
  }

  .fs35 {
      font-size: 2.333em !important;
      line-height: 1.35em;
  }

  .fs36 {
      font-size: 2.400em !important;
      line-height: 1.35em;
  }

  .fs38 {
      font-size: 2.533em !important;
      line-height: 1.35em;
  }

  .fs40 {
      font-size: 2.667em !important;
      line-height: 1.35em !important;
  }

  .fs42 {
      font-size: 2.8em !important;
      line-height: 1.35em !important;
  }

  .fs48 {
      font-size: 3.200em !important;
      line-height: 1.35em !important;
  }
}