@charset "UTF-8";

.sitemap-toggle {
  position: fixed;
  top: 0;
  left: auto;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: rgba(255, 255, 255, .97);
  box-sizing: border-box;
  background-repeat: no-repeat;
  z-index: 9999;
}


.boxShadow {
  box-shadow: -5px 0px 25px rgba(0, 0, 0, .15);
}

.sitemap-toggle .wrap {
  position: relative;
  width: 100%;
  padding: 40px;
  cursor: auto;
  margin: 0 auto;
}

.btn-close {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 50px;
  left: -40px;
  background-color: #151515;
  background-image: url('../image/cancel.png');
  cursor: pointer;
  background-position: center;
  background-size: 20px auto;
  background-repeat: no-repeat;
}

.sitemap-toggle ul {
  display: block;
  width: 100%;
  padding: 0;
}

.sitemap-toggle .onedepth-list>li {
  display: block;
  line-height: inherit;
  padding: 10px 0;
  color: #333;
}

.sitemap-toggle .onedepth-list>li:last-child {
  border-bottom: 0;
}

.sitemap-toggle .onedepth-list .sub-menu li {
  display: inline-block;
  font-size: 15px;
  padding: 0 20px 0 0;
}

.sitemap-toggle .onedepth-list .sub-menu li a {
  display: block;
  color: rgba(0, 0, 0, .95);
  font-weight: 300;
  line-height: 40px;
}

.sitemap-toggle .onedepth-list .sub-menu li:hover a {
  color: #28998b;
  transition: .3s;
}

.menu-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.5em;
}
